* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Open Sans, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 10px 5%;
}

header {
    /* Scroll header using fixed
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: tbd;
    */

    /* Scroll header using sticky */
    position: sticky;
    top: 0;

    background-color: #D3D3D3; 
}

.nav_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    z-index: 1;
}

#mccraft_logo {
    width: 45px;
    height: 45px;
}

.nav_menu {
    background-color: #D3D3D3;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
}

.nav_bar_list {
    list-style-type: none;
    padding: 20px 0;

    display: none;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.show {
    display: flex;
}

.nav_link {
    color: black;
    font-size: 23px;
    text-decoration: none;
}

.nav_bar button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    border: none;
    cursor: pointer;
    appearance: none;

}

.change_button {
   content: url("assets/cross_icon.png"); 
}

#nav_icon {
    width: 50px;
    height: 50px;
}

#test {
    font-size: 100px;
}

@media screen and (min-width: 750px) {
    .nav_menu {
        position: static;
    }

    .nav_bar_list {
        background-color: none;
    
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .nav_bar button {
        display: none;
    }
}
